body {
  background-color: #000;
  color: #fff;
  font-family: "Segoe UI", Verdana, sans-serif;
  margin: 0;
}

h1,
h2,
h3 {
  text-align: center;
}

a {
  color: #0f3f8c;
}

a:visited {
  color: #3a0491;
}

.content-sections {
  background-color: #161616;
  margin: 50px 0;
  align-items: center;
  justify-content: center;
}

.subtitle {
  margin: 0;
}

#title-section {
  background-image: url(../images/server-room.jpg);
  height: 200px;
}

.flex-container {
  display: flex;
  display: -webkit-flex;
}

.flex-column {
  flex-direction: column;
}

.flex-item {
  flex: 1;
  padding: 5px;
  text-align: center;
}

.about-me-containers {
  padding: 40px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background-images {
  background-repeat: no-repeat;
  background-size: cover;
}

#experience-section {
  background-image: url(../images/meeting-room.jpg);
}

#skills-section {
  background-image: url(../images/web.jpeg);
}

#proficiency-section {
  background-image: url(../images/keyboard.jpg);
}

.contact-info {
  list-style: none;
  text-align: unset;
}

.contact-info > .flex-item {
  text-align: unset;
}

.proficiency-list {
  list-style: none;
  padding: 0
}

footer {
  text-align: center;
}

/****************************************/

/********        Mobile        **********/

/****************************************/

@media only screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
}
