body {
  background-color: #000;
  color: #fff;
  font-family: "Segoe UI", Verdana, sans-serif;
  margin: 0;
}

h1,
h2,
h3 {
  text-align: center;
}

.subtitle {
  margin: 0;
}

#title-section {
  background-image: url(../images/server-room.jpg);
  height: 200px;
  flex-direction: column;
}

.flex-container {
  display: -flex;
  display: -webkit-flex;
}

.flex-item {
  flex: 1;
  padding: 5px;
  text-align: center;
}

.about-me-containers {
  padding: 40px;
}

.background-images {
  background-repeat: no-repeat;
  background-size: cover;
}

#experience-section {
  background-image: url(../images/meeting-room.jpg);
}

#skills-section {
  background-image: url(../images/web.jpeg);
}

#proficiency-section {
  background-image: url(../images/keyboard.jpg);
}

/****************************************/

/********        Mobile        **********/

/****************************************/

@media only screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
}
